@charset "utf-8";

@import url(https://fonts.jimstatic.com/css?family=Josefin+Sans%3A400%7CRaleway%3A100);

body {}

body, p, table, td
{
    font:normal 17px/150% "Josefin Sans", sans-serif;
    color:#CCCCCC;
}

input, textarea
{
    font:normal 17px/150% "Josefin Sans", sans-serif;
}

h1
{
    font:normal normal normal 25px/140% Raleway, cursive;
    color:#e6d4a6;
    
}

h2
{
    font:normal normal normal 20px/140% Raleway, cursive;
    color:#e6d4a6;
    
}

h3
{
    font:normal normal bold 15px/140% Raleway, cursive;
    color:#e6d4a6;
    
}

a:link,
a:visited
{
    text-decoration: underline; /* fix */
    color:#EEEEEE;
}

a:active,
a:hover
{
    text-decoration:none; /* fix */
    color: #EEEEEE;
}

div.hr
{
    border-bottom-style:solid;
    border-bottom-width:1px; /* fix */
    border-color: #666666;
    height: 1px;
}
