
/*
jimdo template 4111
Jill
*/

/*  layout
----------------------------------------------- */

div#tp-container {
    position: relative;
    width: 970px;
    margin:0 auto ;
    padding: 0px 0 40px 0;  
}

div#tp-wrapper {    
    padding: 30px; 
    background-color: rgba(0, 0, 0, 0.6);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000)"; /* IE8 */
}

div#tp-content-wrapper {
    width:697px;
    float:left;
    position: relative;   
}

div#tp-shaddow {
    width: 970px;
}

div#tp-btm {
    width: 970px;
    height:50px;
}

div#tp-emotion {
	width:970px;
	margin:0 auto;
	border:none;
}

div#tp-content {
    width: 697px; 
}

div#tp-footer {
    width: 697px;
    border-top: 1px solid #e6e6e6;    
}

div#tp-footer div.gutter { padding: 5px 0 0 0; }
div#tp-content div.gutter { padding: 30px 0 30px 0; }

div#tp-sidebar {
    width: 180px;
    float:right;
}

/* Navigation */

div.tp-mainnavigation {
	width:697px;
	margin:0;
}

ul.mainNav1,
ul.mainNav2,
ul.mainNav3 {
    width:697px;
    padding:0 0 0 6px;
	margin:0;
	text-align:left;
    float:left;
    text-decoration:none !important;
    list-style-type:none;
}

ul.mainNav1,
ul.mainNav2 {
    border-bottom: 1px solid rgba(230, 230, 230, 0.3);
}

ul.mainNav3 li a {

}

ul.mainNav1 li,
ul.mainNav2 li,
ul.mainNav3 li {
	display:inline;
	margin:0;	
	padding:0;
	text-decoration:none;
}

ul.mainNav1 li a,
ul.mainNav1 li a:visited,
ul.mainNav2 li a,
ul.mainNav2 li a:visited,
ul.mainNav3 li a,
ul.mainNav3 li a:visited {
	display:block;
    color: #E6D1B1 ;    
	float:left;
	text-decoration:none !important;  
}

ul.mainNav1 li a,
ul.mainNav1 li a:visited {
    font-size: 120%;    
}

ul.mainNav2 li a,
ul.mainNav2 li a:visited {
    font-size: 105%;   
}

ul.mainNav3 li a,
ul.mainNav3 li a:visited {
    font-size: 95%;
}

ul.mainNav1 li a, ul.mainNav1 li a:visited { padding:5px 25px 5px 0px; }
ul.mainNav2 li a, ul.mainNav2 li a:visited { padding:15px 25px 5px 0px; }
ul.mainNav3 li a, ul.mainNav3 li a:visited { padding:15px 0px 5px 0px; margin: 0px 20px 0px 10px;}

ul.mainNav1 li a:hover,
ul.mainNav2 li a:hover,
ul.mainNav3 li a:hover {
	color: #a6a6a6;
}

ul.mainNav1 li a.parent,
ul.mainNav2 li a.parent,
ul.mainNav1 li a.current,
ul.mainNav2 li a.current,
ul.mainNav3 li a.current { 
	font-weight:bold;
}

/*ende*/


